/*//////////////////////////////////////////////
color definitions
//////////////////////////////////////////////*/

:root {
	--text: rgba(46, 52, 64, 1);
	--inactive: rgba(46, 52, 64, .3);
	--interact: rgba(94, 129, 172, 1);
	--interactbg: rgba(94, 129, 172, .4);
	--background: rgba(216, 222, 233, 1);
	--highlight: rgba(191, 97, 106, 1);
	--menu: rgba(255, 255, 255, .1);
	--popup: rgba(216, 222, 233, 1);
	--contrast: rgba(46, 52, 64, 1);
	--lighter: rgba(255, 255, 255, .1);
	--darker: rgba(255, 255, 255, .08);
	--bitdarker: rgba(46, 52, 64, .2);
	--muchdarker: rgba(46, 52, 64, .5);
	--inputs: rgba(255, 255, 255, 1);
	--inputcolor: rgba(46, 52, 64, 1);
	--green: #a3be8c;
	--orange: #d08770;
	--red: #bf616a;
}

body {
	background: radial-gradient(farthest-corner at top left, var(--background), transparent),
		radial-gradient(farthest-corner at top right, var(--lighter), transparent),
		radial-gradient(farthest-corner at bottom left, var(--bitdarker), transparent),
		radial-gradient(farthest-corner at bottom right, var(--bitdarker), transparent),
		linear-gradient(90deg, rgb(180, 142, 173) 0%,
			rgb(191, 97, 106) 25%,
			rgb(208, 135, 112) 50%,
			rgb(235, 203, 139) 75%,
			rgb(163, 190, 140) 100%);
}