/*relevant properties and alignment*/
* {
	box-sizing: border-box;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
	transition: .3s ease;
	margin: 0;
}

body,
input,
select {
	font-family: 'Segoe UI', sans-serif;
	font-size: 1em;
	font-weight: 300;
	margin: 0;
}

body {
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	line-height: 1.6em;
	display: flex;
	flex-direction: column;
}

header,
main,
#popupcontent {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

header {
	flex: 0 0 auto;
}

main,
#popupcontent {
	flex: 0 1 100vh;
	overflow: hidden;
}

nav,
article,
aside {
	flex: 1;
	flex-direction: column;
	align-items: stretch;
	overflow-y: auto;
	padding: 1em;
}

.home {
	flex: 3;
}

#input {
	flex: 8;
}

.setting {
	flex: 1 1 6em;
	text-align: right;
	overflow: hidden;
}

#settingsMenu {
	flex: 0 1 13em;
	border-right: 1px solid
}

#menu,
#content {
	z-index: 8;
	vertical-align: top;
}

#content {
	display: flex;
	flex-direction: row;
	flex: 5;
}

#menu {
	flex: 1 1 10em;
	height: 100%;
	overflow-x: hidden;
}

#menu,
.home {
	max-width: 60em;
	min-width: 10em;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

	/*ms-specific media query, will only parsed in internet explorer, flex is interpreted different, this part is for future use*/
	#menu {
		flex: 1;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
	}

	#menu,
	.home {
		max-width: 30em;
		min-width: 10em;
	}

}

@media (max-width:75em) {
	#menu {
		max-width: 4em;
		min-width: 4em;
		width: 4em;
		white-space: nowrap;
	}

	.home {
		max-width: 12em;
		min-width: 12em;
		width: 12em;
	}

	#menu label {
		color: transparent !important;
	}
}

/* small menu like responsive version by user demand */
#menu.small {
	max-width: 4em;
	min-width: 4em;
	width: 4em;
	white-space: nowrap;
}

.home.small {
	max-width: 12em;
	min-width: 12em;
	width: 12em;
}

#menu.small label {
	color: transparent
}

#menu input[type='radio'] {
	display: none;
}

#menu label {
	display: block;
	cursor: pointer;
	margin-bottom: .5em;
	padding: .5em;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#menu input[type='radio']:checked+label .icon {
	fill: rgba(0, 164, 201, 1);
}

#title {
	font-size: 2em;
	vertical-align: middle;
	white-space: nowrap;
}

.icon {
	width: 1em;
	height: 1em;
	margin: -.2em .5em -.1em 0;
}

.icon:active{
	transform: scale(.9, -.9) !important;
}

.bigger {
	box-sizing: content-box;
	padding: .5em;
	width: 1.3em;
	height: 1.3em
}

.items {
	margin-bottom: .5em;
	padding: .5em;
	overflow: hidden;
	position: relative;
	width: 100%;
	transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}

.items23 {
	max-height: 2.3em;
}

.items71 {
	max-height: 7.1em;
}

.items143 {
	max-height: 14.3em;
}

.items.expand {
	max-height: 1500px;
	transition: max-height .3s ease-in-out;
	overflow: auto;
}

.itemalign {
	width: 45%;
	margin-right: 1em;
	display: inline-block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.itemresize {
	position: absolute;
	top: 0;
	right: 0;
	width: .75em;
	height: .75em;
	margin: .2em;
	border: 1px solid;
	transition: all .3s ease-in-out;
}

.itemresize::before {
	position: absolute;
	top: -10%;
	right: -10%;
	width: .65em;
	height: .65em;
	content: '';
	display: block;
	border: 1px solid;
	transition: all .3s ease-in-out;
}

.items.expand .itemresize {
	width: .65em;
	height: .65em;
}

.items.expand .itemresize::before {
	width: .55em;
	height: .55em;
	top: 20%;
	right: 20%;
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.custominput {
	display: inline-block;
	position: relative;
	padding-left: 2.5em;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	min-width: 10em;
}

.custominput input {
	/* Hide the browser's default checkbox */
	display: none;
}

.checkmark {
	/* Create a custom checkbox */
	position: absolute;
	top: .45em;
	left: 0;
	height: .8em;
	width: 2em;
	border-radius: .4em;
	border: .075em solid;
}

.checkmark::after {
	transition: ease .3s;
	position: absolute;
	content: '';
	top: 10%;
	left: 5%;
	display: block;
	width: 30%;
	height: 80%;
	border-radius: 50%;
}

.custominput input:checked~.checkmark::after {
	left: 65%;
}

input[type='text'],
input[type='date'],
select,
span.search {
	font-size: 1em;
	width: 20em;
	max-width: 90%;
	margin-bottom: .5em;
	margin-right: .5em;
}

input[type='text'].search {
	margin-right: 0;
	width: 18em;
	max-width: calc(90% - 2em);
}

span.search {
	padding: .07em 0;
}

input[type='button'],
input[type='submit'],
.button {
	padding: .3em 1.2em;
	border: none;
	cursor: default;
	margin: 0;
}

textarea {
	font-family: 'Segoe UI', sans-serif;
	font-size: 1em;
	font-weight: 300;
	margin: .25em;
	overflow: auto;
}

h1 {
	font-variant: small-caps;
	font-size: 1.5em;
}

a {
	text-decoration: none;
}

a::after {
	content: ' \2197';
	padding-left: 0;
	padding-right: 1em;
}

hr {
	border: 0;
	height: 1px;
	margin: 1em;
}

#popup {
	z-index: 10;
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

#popuptext {
	white-space: normal;
	width: 44vw;
	min-width: 45em;
	height: 100%;
	padding: 1em 2em;
	top: 0;
	right: -100vw;
	position: absolute;
	overflow-x: auto;
}

/* add a little fancyness */

a:hover::after {
	animation: activelink .25s infinite alternate;
}

@keyframes activelink {
	from {
		transform: translate3d(0em, 0em, 0em);
	}

	to {
		transform: translate3d(.25em, -.2em, 0em);
	}
}

#content.slidedown {
	animation-name: contentslidedown;
	animation-duration: .35s;
}

@keyframes contentslidedown {
	from {
		transform: translateY(-100vh)
	}

	to {
		transform: translateY(0vh)
	}
}

#content.slideup {
	animation-name: contentslideup;
	animation-duration: .35s;
}

@keyframes contentslideup {
	from {
		transform: translateY(100vh)
	}

	to {
		transform: translateY(0vh)
	}
}