/*relevant properties and alignment*/

/* /////////////////////////////////////////////////////////////////////////////////
general layout box-items
//////////////////////////////////////////////////////////////////////////////////*/

* {
	box-sizing: border-box;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
	transition: .3s ease;
	margin: 0;
	font-family: 'Segoe UI', sans-serif;
	font-size: 1em;
	font-weight: 300;
	vertical-align: top;
}

body {
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	line-height: 1.6em;
	display: flex;
	flex-direction: column;
}

header,
main,
#popupcontent {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

header {
	flex: 0 0 auto;
}

main,
#popupcontent {
	flex: 0 1 100vh;
	overflow: hidden;
}

nav,
article,
aside {
	flex: 1;
	flex-direction: column;
	align-items: stretch;
	overflow-y: auto;
	padding: 1em;
}

.home {
	flex: 0 0 14em;
}

#input,
#search {
	display: flex;
	flex-direction: row;
}

#search {
	max-width: 100%;
}

#input,
#input *,
#search * {
	flex: 1 1 auto;
}

#input .icon,
#search .icon,
#search span,
#search a {
	flex: 0 0 auto;
}

#input select,
#search select {
	flex: 0 1 20em;
}

#search input {
	flex: 1 1 20em;
}

.setting {
	flex: 0 0 9em;
	text-align: right;
	overflow: hidden;
}

#content {
	display: flex;
	flex-direction: row;
	flex: 5;
}

#menu {
	flex: 0 0 23em;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

/* browser switch for ie
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
}
*/
@media (max-width:75em) {
	#menu {
		max-width: 4em;
		white-space: nowrap;
	}

	#menu label {
		color: transparent !important;
	}
}

/* small menu like responsive version by user demand */
#menu.small {
	max-width: 4em;
	white-space: nowrap;
}

#menu.small label {
	color: transparent
}

#menu input[type='radio'] {
	display: none;
}

#menu label {
	display: block;
	cursor: pointer;
	margin-bottom: .5em;
	padding: .5em;
}

#menu input[type='radio']:checked+label .icon {
	fill: rgba(0, 164, 201, 1);
}

#popup {
	z-index: 10;
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

#popuptext {
	white-space: normal;
	width: 44vw;
	min-width: 45em;
	height: 100%;
	padding: 1em 2em;
	top: 0;
	right: -100vw;
	position: absolute;
	overflow-x: auto;
}

/* /////////////////////////////////////////////////////////////////////////////////
content box-items
//////////////////////////////////////////////////////////////////////////////////*/

#title {
	font-size: 2em;
	white-space: nowrap;
}

.icon {
	width: 1em;
	height: 1em;
	margin: -.2em .5em -.1em 0;
	vertical-align: middle;
}

.icon:active {
	transform: scale(.9, -.9) !important;
}

.bigger {
	box-sizing: content-box;
	margin-top: .125em;
	margin-bottom: .625em;
	padding: .5em;
	width: 1.3em;
	height: 1.3em;
	border: 1px solid transparent;
}

.items {
	margin-bottom: .5em;
	padding: .5em;
	overflow: hidden;
	position: relative;
	width: 100%;
	transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}

.items23 {
	max-height: 2.3em;
}

.items71 {
	max-height: 7.1em;
}

.items143 {
	max-height: 14.3em;
}

.items.expand {
	max-height: 1500px;
	transition: max-height .3s ease-in-out;
	overflow: auto;
}

.itemalign {
	width: 45%;
	margin-right: 1em;
	display: inline-block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.itemresize {
	position: absolute;
	top: 0;
	right: 0;
	width: .75em;
	height: .75em;
	margin: .2em;
	border: 1px solid;
	transition: all .3s ease-in-out;
}

.itemresize::before {
	position: absolute;
	top: -10%;
	right: -10%;
	width: .65em;
	height: .65em;
	content: '';
	display: block;
	border: 1px solid;
	transition: all .3s ease-in-out;
}

.items.expand .itemresize {
	width: .65em;
	height: .65em;
}

.items.expand .itemresize::before {
	width: .55em;
	height: .55em;
	top: 20%;
	right: 20%;
}

.inline {
	display: inline-block;
}

/* /////////////////////////////////////////////////////////////////////////////////
elements
//////////////////////////////////////////////////////////////////////////////////*/

.custominput {
	display: inline-block;
	position: relative;
	padding-left: 2.5em;
	min-width: 10em;
}

.custominput input {
	/* Hide the browser's default checkbox */
	display: none;
}

.checkmark {
	/* Create a custom checkbox */
	position: absolute;
	top: .45em;
	left: 0;
	height: .8em;
	width: 2em;
	border-radius: .4em;
	border: .075em solid;
}

.checkmark::after {
	transition: ease .3s;
	position: absolute;
	content: '';
	top: 10%;
	left: 5%;
	display: block;
	width: 30%;
	height: 80%;
	border-radius: 50%;
}

.custominput input:checked~.checkmark::after {
	left: 65%;
}

input[type='text'],
input[type='date'],
select,
span.search {
	float: left;
	width: 20em;
	max-width: 90%;
	margin-bottom: .5em;
	margin-right: .5em;
	padding: .5em;
}

select {
	/*wtf!*/
	padding: .45em;
}

input[type='text'].search {
	margin-right: 0;
	flex: 1 1 auto;
}

span.search {
	padding: .375em 0;
	max-width: 2em;
}

input[type='button'],
input[type='submit'],
.button {
	padding: .3em 1.2em;
	border: none;
	cursor: default;
}

textarea {
	margin: .25em;
	overflow: auto;
}

a {
	text-decoration: none;
}

a::after {
	content: ' \2197';
	padding-left: 0;
	padding-right: 1em;
}

#search a::after {
	content: none
}

hr {
	border: 0;
	height: 1px;
	margin: 1em;
}


.singlefavouritehandler svg {
	width:0;
}

.singlefavouritehandler:hover svg {
	animation: singlefavouritehandler .25s 1.5s normal forwards;*/
}

@keyframes singlefavouritehandler {
	from {
		width: 0;
	}

	to {
		width: 2em;
	}
}

/* /////////////////////////////////////////////////////////////////////////////////
add a little fancyness
//////////////////////////////////////////////////////////////////////////////////*/

#content.slidedown {
	animation-name: contentslidedown;
	animation-duration: .35s;
}

@keyframes contentslidedown {
	from {
		transform: translateY(-100vh)
	}

	to {
		transform: translateY(0vh)
	}
}

#content.slideup {
	animation-name: contentslideup;
	animation-duration: .35s;
}

@keyframes contentslideup {
	from {
		transform: translateY(100vh)
	}

	to {
		transform: translateY(0vh)
	}
}