/*///////////////////////////////////////////// 
font/foreground colors
/////////////////////////////////////////////*/

body,
input,
select {
	color: #eee;
}

select option,
select optgroup {
	color: #333
}

#menu,
#menu label,
#menu .icon,
#popuptext,
#popuptext label,
#popuptext svg,
::selection {
	color: #fff;
	fill: #fff
}

.icon {
	fill: #fff;
}

input[type='text'],
select,
span.search,
span.search .icon,
[placeholder] {
	color: #666;
	fill: #666;
}

textarea{
	color: #eee !important;
}

input[type='button'],
#popuptext input[type='button'],
input[type='submit'],
#popuptext input[type='submit'],
.button {
	fill: #fff;
	color: #fff;
}

.highlight,
a:hover::after {
	color: rgb(197, 43, 92)
}

a:link {
	color: rgba(0, 164, 201, 1);
}

a:visited {
	color: rgba(179,177,16,.8);
}

/*///////////////////////////////////////////// 
borders
/////////////////////////////////////////////*/

input,
select,
span.search,
textarea {
	border-width: 1px;
	border-style: solid;
	border-color: #bbb;
}

input.search {
	border-right: none
}

span.search {
	border-left: none
}

input[type='range'] {
	border: none;
}

.itemresize,
.itemresize::before {
	border-color: rgba(255, 255, 255, .7);
}

.checkmark {
	border-color: rgba(255, 255, 255, .7);
}

#popuptext .checkmark {
	border-color: rgba(255, 255, 255, 1);
}

#popuptext {
	box-shadow: 0 0 1em .125em rgba(0, 0, 0, .5)
}

/*///////////////////////////////////////////// 
background colors
/////////////////////////////////////////////*/

body {
	background-color: #000;
}

::selection {
	background: rgb(0, 164, 201);
}

input,
select,
span.search {
	background-color: #fff;
}

#temp, .bigger:hover {
	background-color: rgba(255, 255, 255, .1);
}

#output {
	background-color: rgba(255, 255, 255, .125);
}

.items {
	background-color: rgba(255, 255, 255, .03);
}

.itemresize,
.itemresize::before {
	background-color: #333;
}

#menu,
#popuptext {
	background-color: rgba(0, 0, 0, .8);
}

svg,
input[type='range'],
.checkmark,
textarea {
	background-color: transparent
}

input[type='button'],
#popuptext input[type='button'],
input[type='submit'],
#popuptext input[type='submit'],
.button,
hr {
	background-color: rgb(197, 43, 92);
}

.checkmark::after,
.custominput input:checked~.checkmark {
	background-color: rgba(255, 255, 255, .8);
}

.custominput input:checked~.checkmark::after {
	background-color: rgba(0, 0, 0, .8);
}

#popuptext .checkmark::after,
#popuptext .custominput input:checked~.checkmark {
	background-color: rgba(255, 255, 255, .8);
}

#popuptext .custominput input:checked~.checkmark::after {
	background-color: rgba(0, 0, 0, .8);
}

#popup {
	background-color: rgba(0, 0, 0, .5);
}