/*//////////////////////////////////////////////
color definitions
//////////////////////////////////////////////*/

:root {
	--text: rgba(236, 239, 244, 1);
	--inactive: rgba(236, 239, 244, .3);
	--interact: rgba(94, 129, 172, 1);
	--popupinteract: rgba(94, 129, 172, 1);
	--interactbg: rgba(94, 129, 172, .2);
	--background: rgba(0, 0, 0, 1);
	--highlight: rgba(191, 97, 106, 1);
	--menu: rgba(0, 0, 0, 1);
	--popup: rgba(0, 0, 0, 1);
	--contrast: rgba(236, 239, 244, 1);
	--lighter: rgba(236, 239, 244, .035);
	--darker: rgba(236, 239, 244, .035);
	--bitdarker: rgba(46, 52, 64, .3);
	--muchdarker: rgba(46, 52, 64, .5);
	--inputs: rgba(236, 239, 244, .8);
	--inputcolor: rgba(46, 52, 64, 1);
	--green: #a3be8c;
	--orange: #d08770;
	--red: #bf616a;
}

body {
	background: radial-gradient(farthest-corner at top left, var(--background), transparent),
		radial-gradient(farthest-corner at top right, var(--interactbg), transparent),
		radial-gradient(farthest-corner at bottom left, var(--bitdarker), transparent),
		radial-gradient(farthest-corner at bottom right, var(--bitdarker), transparent),
		linear-gradient(var(--background), var(--background));
}