body,
input,
select {
	color: #333;
}

select option,
select optgroup {
	color: #333
}

body {
	background-color: #ddd;
}

::selection {
	background: rgb(0, 164, 201);
	color: #fff
}

input,
select {
	background-color: transparent;
	border: 0 solid rgb(197, 43, 92);
	border-width: 0 0 1px 0;
}

#popuptext input,
#popuptext select {
	background-color: transparent;
	color: #fff;
	border: 0 solid rgb(197, 43, 92);
	border-width: 0 0 1px 0;
}

textarea {
	background-color: transparent;
	border: 0 solid rgb(197, 43, 92);
	border-width: 1px;
}

#temp {
	background-color: rgba(255, 255, 255, .7);
}

#output {
	background-color: rgba(255, 255, 255, .9);
}

.items {
	background-color: rgba(0, 0, 0, .035);
}

.itemresize,
.itemresize::before {
	border-color: rgba(0, 0, 0, .5);
	background-color: #eee;
}

#menu,
#menu .icon,
#popuptext {
	background-color: rgba(0, 78, 152, .9);
	color: #fff;
	fill: #fff
}

#menu .icon,
#popuptext .icon {
	background-color: transparent
}

.icon {
	fill: #000;
	background-color: transparent
}

input[type='button'],
#popuptext input[type='button'],
input[type='submit'],
#popuptext input[type='submit'],
.button {
	fill: #fff;
	color: #fff;
	background-color: rgb(197, 43, 92);
}

.button svg {
	fill: #fff
}

.checkmark {
	border-color: rgba(0, 0, 0, .5);
	background-color: transparent;
}

.checkmark::after,
.custominput input:checked~.checkmark {
	background-color: rgba(0, 0, 0, .6);
}

.custominput input:checked~.checkmark::after {
	background-color: rgba(255, 255, 255, .8);
}

#popuptext .checkmark {
	border-color: rgba(255, 255, 255, .5);
	background-color: transparent;
}

#popuptext .checkmark::after,
#popuptext .custominput input:checked~.checkmark {
	background-color: rgba(255, 255, 255, .6);
}

#popuptext .custominput input:checked~.checkmark::after {
	background-color: rgba(0, 78, 152, .8);
}

.highlight {
	color: rgb(197, 43, 92)
}

hr {
	background-color: rgb(197, 43, 92);
}

a:link {
	color: rgba(0, 164, 201, 1);
}

a:hover::after {
	color: rgb(197, 43, 92);
}

#settings {
	float: right;
	display: block;
	margin: 0 .5em;
	width: 1em;
	height: 1em;
	fill: #333;
}

#popup {
	background-color: rgba(0, 0, 0, .5);
}