/*//////////////////////////////////////////////
color definitions
//////////////////////////////////////////////*/

:root {
	--text: rgba(51, 51, 51, 1);
	--inactive: rgba(0, 0, 0, .3);
	--interact: rgba(0, 114, 198, 1);
	--interactbg: rgba(0, 114, 198, .2);
	--background: rgba(255, 255, 255, 1);
	--highlight: rgba(181, 99, 107, 1);
	--menu: rgba(0, 114, 198, 1);
	--popup: rgba(0, 114, 198, 1);
	--contrast: rgba(255, 255, 255, 1);
	--lighter: rgba(255, 255, 255, .1);
	--darker: rgba(0, 0, 0, .05);
	--bitdarker: rgba(0, 0, 0, .2);
	--muchdarker: rgba(0, 0, 0, .5);
	--inputs: rgba(255, 255, 255, 1);
	--inputcolor: rgba(46, 52, 64, 1);
	--green: #a3be8c;
	--orange: #d08770;
	--red: #bf616a;
}

body {
	background: radial-gradient(farthest-corner at top left, var(--background), transparent),
		radial-gradient(farthest-corner at top right, var(--interactbg), transparent),
		radial-gradient(farthest-corner at bottom left, var(--bitdarker), transparent),
		radial-gradient(farthest-corner at bottom right, var(--bitdarker), transparent);
}