/*///////////////////////////////////////////// 
font/foreground colors
/////////////////////////////////////////////*/

body,
input {
	color: rgb(46, 52, 64);
}

select option,
select optgroup {
	color: rgb(46, 52, 64)
}

#menu,
#menu label,
#menu .icon,
#popuptext,
#popuptext label,
#popuptext svg,
#growlNotif,
::selection,
#menu.small>label:hover div {
	color: rgb(46, 52, 64);
	fill: rgb(46, 52, 64)
}

.icon {
	fill: rgb(46, 52, 64);
}

.inactiveicon {
	fill: rgba(46, 52, 64, .3);
}

input[type='text'],
input[type='date'],
input[type='password'],
select,
span.search,
span.search .icon,
textarea {
	color: #666;
	fill: #666;
}

input[type='button'],
#popuptext input[type='button'],
input[type='submit'],
#popuptext input[type='submit'],
.button {
	fill: #fff;
	color: #fff;
}

.highlight,
a:hover::after {
	color: rgb(191, 97, 106);
}

a, a[onclick] {
	color: rgb(94, 129, 172);
}

/*///////////////////////////////////////////// 
borders
/////////////////////////////////////////////*/

.bigger:hover {
	border: 1px solid rgba(76, 86, 106, .2);
}

input,
select,
span.search,
textarea {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(76, 86, 106, .5);
}

input.search {
	border-right: none
}

span.search {
	border-left: none
}

input[type='range'] {
	border: none;
}

.checkmark,
.limitBar {
	border-color: rgba(46, 52, 64, .5);
}

#popuptext .checkmark,
#menu.small>label:hover div {
	border-color: rgba(46, 52, 64, .5);
}

#popuptext {
	box-shadow: 0 0 1em .125em rgba(46, 52, 64, .5)
}

/*///////////////////////////////////////////// 
background colors
/////////////////////////////////////////////*/

body {
	background-color: rgb(216, 222, 233);
}

::selection {
	background: rgb(0, 164, 201);
}

input,
select,
span.search,
textarea {
	background-color: #fff;
}

#temp {
	background-color: rgb(229, 233, 240);
}

#output {
	background-color: rgb(236, 239, 244);
}

.items {
	background-color: rgba(46, 52, 64, .035);
}

#menu,
#popuptext,
#growlNotif,
#menu.small>label:hover div {
	background-color: rgb(216, 222, 233);
}

svg,
input[type='range'],
.checkmark {
	background-color: transparent
}

.bigger:hover {
	background-color: rgba(46, 52, 64, .07);
}

input[type='button'],
#popuptext input[type='button'],
input[type='submit'],
#popuptext input[type='submit'],
.button,
hr {
	background-color: rgb(191, 97, 106);
}

.checkmark::after,
.custominput input:checked~.checkmark {
	background-color: rgba(46, 52, 64, .6);
}

.custominput input:checked~.checkmark::after {
	background-color: rgba(255, 255, 255, 1);
}

#popuptext .checkmark::after,
#popuptext .custominput input:checked~.checkmark {
	background-color: rgba(46, 52, 64, .6);
}

#popuptext .custominput input:checked~.checkmark::after {
	background-color: rgba(255, 255, 255, 1);
}

#popup {
	background-color: rgba(46, 52, 64, .5);
}

.green {
	background-color: #a3be8c;
}

.orange {
	background-color: #d08770;
}

.red {
	background-color: #bf616a;
}