/*//////////////////////////////////////////////
color definitions
//////////////////////////////////////////////*/

:root {
	--text: rgba(46, 52, 64, 1);
	--inactive: rgba(46, 52, 64, .3);
	--interact: rgb(255, 52, 164);
	--popupinteract: rgb(255, 52, 164);
	--interactbg: rgba(255, 52, 164 .4);
	--background: rgb(255, 212, 235);
	--highlight: rgb(255, 52, 164);
	--menu: rgba(255, 255, 255, .2);
	--popup: rgb(255, 212, 235);
	--contrast: rgba(46, 52, 64, 1);
	--lighter: rgba(255, 255, 255, .2);
	--darker: rgba(255, 255, 255, .2);
	--bitdarker: rgba(46, 52, 64, .2);
	--muchdarker: rgba(46, 52, 64, .5);
	--inputs: rgba(255, 255, 255, 1);
	--inputcolor: rgba(46, 52, 64, 1);
	--green: #a3be8c;
	--orange: #d08770;
	--red: #bf616a;
}

body {
	background: radial-gradient(farthest-corner at top left, var(--background), transparent),
		radial-gradient(farthest-corner at top right, var(--lighter), transparent),
		radial-gradient(farthest-corner at bottom left, var(--bitdarker), transparent),
		radial-gradient(farthest-corner at bottom right, var(--bitdarker), transparent),
		linear-gradient(90deg, var(--background), var(--background));
}