body,input,select {color:#eee;}
#input, select option, select optgroup {color:#333;}
body {background-color:rgb(47, 60, 68);}
::selection{background:rgb(0, 164, 201); color:#fff}
input, select { background-color:transparent; border: 0 solid rgb(197, 43, 92); border-width: 0 0 1px 0;}
textarea { background-color:transparent; border: 0 solid rgb(197, 43, 92); border-width: 1px;}

#temp {background-color:rgba(255,255,255,.1);}
#output {background-color:rgba(255,255,255,.125);}
.items {background-color:rgba(255,255,255,.03);}
.itemresize, .itemresize::before {border-color:#fff; background-color: #49545B;}

#menu, .icon, #popuptext {background-color:rgba(38, 49, 56,.9); color:#fff; fill:#fff}
.icon {background-color:transparent}

#input, #input input[type='text'], #input select, .modulesearch, label, [placeholder] {color:#ddd; fill:#ddd}

input[type='button'], input[type='submit'], .button {fill:#fff; color:#fff; background-color:rgb(197, 43, 92);}
.button svg {fill:#fff}
.checkmark { border-color: rgba(255,255,255,.7); background-color: transparent;}
.checkmark::after, .custominput input:checked ~ .checkmark { background-color:rgba(255,255,255,.8);}
.custominput input:checked ~ .checkmark::after { background-color:#445057;}


.highlight {color:rgb(255, 0, 81)}
hr{background-color: rgb(255, 0, 81);}

a:link {color:rgb(91, 225, 255);}
a:hover::after {color:rgb(197, 43, 92);}

#settings {float:right; display:block; margin:0 .5em; width:1em; height:1em; fill: rgba(255,255,255,.9); }

#popup {background-color:rgba(0,0,0,.5); }
